[settings]
; Number of milliseconds to wait before auto completing search and finding results
search_timeout_ms: 300
thumbnail_folder_win: C:/temp/thumbs
app_icons_win: C:/temp/icons

[database]
engine: 'postgresql'
name: 'file_manager'
host: 'fmtest.ccjzws8f3lqz.us-west-1.rds.amazonaws.com'
port: '5432'
user: 'fm_insomniac'
pass: 'insomniac'
